<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net462" />
  <package id="Imgur.API" version="4.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="RedditSharp" version="1.1.14" targetFramework="net462" />
</packages>